<div class="content-layout" [ngClass]="'left-sidebar-fullheight-standard-' + scrollMode + '-scroll'" *ngIf="product">
    <mat-drawer-container>
        <mat-drawer [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened" #matDrawer>
            <treo-vertical-navigation [navigation]="menu" inner="true" mode="side" name="navigation" opened="true">
            </treo-vertical-navigation>
        </mat-drawer>

        <mat-drawer-content>
            <div class="header">
                <div class="left">
                    <mat-icon svgIcon="oneandone"></mat-icon>
                </div>
                <div class="left">
                    <div class="breadcrumb">
                        <span class="path">{{ product.name }}</span>
                        <!--
                        <span class="separator">/</span>
                        <span class="path">LEFT SIDEBAR</span>
                        <span class="separator">/</span>
                        <span class="path">FULLHEIGHT</span>
                        -->
                    </div>
                    <h1>
                        <!--
                        <form [formGroup]="productNameForm">
                            <mat-form-field>
                                <input mat-input formControlName="name">
                                <button mat-icon-button matSuffix (click)="updateProductName()">
                                    <mat-icon>disk</mat-icon>
                                </button>
                            </mat-form-field>
                        </form>
                        -->
                        {{ product.name }}
                    </h1>
                </div>

                <div class="right">
                    <button class="mr-4" mat-sroked-button>
                        <mat-icon class="icon-size-18" svgIcon="play_arrow"></mat-icon>
                    </button>
                    <!-- Drawer toggle -->
                    <button class="mr-4" mat-stroked-button (click)="matDrawer.toggle()">
                        <mat-icon class="icon-size-18" [svgIcon]="'play_arrow'"></mat-icon>
                        <span class="ml-2 md:hidden xs:hidden">Menu</span>
                    </button>

                    <!-- Scroll mode menu -->
                    <button mat-flat-button [color]="'primary'" [matMenuTriggerFor]="settingsMenu">
                        <mat-icon class="icon-size-18" [svgIcon]="'unfold_more'"></mat-icon>
                        <span class="ml-2 md:hidden xs:hidden">Scroll mode</span>
                        <mat-icon class="icon-size-18 ml-3" [svgIcon]="'keyboard_arrow_down'"></mat-icon>
                    </button>
                    <mat-menu #settingsMenu>
                        <button mat-menu-item (click)="scrollMode = 'normal'">
                            <span>Normal scroll</span>
                            <mat-icon class="ml-6 mr-0 icon-size-18" *ngIf="scrollMode === 'normal'"
                                [svgIcon]="'check'"></mat-icon>
                        </button>
                        <button mat-menu-item (click)="scrollMode = 'content'">
                            <span>Content scroll</span>
                            <mat-icon class="ml-6 mr-0 icon-size-18" *ngIf="scrollMode === 'content'"
                                [svgIcon]="'check'"></mat-icon>
                        </button>
                        <button mat-menu-item (click)="scrollMode = 'drawer-content'">
                            <span>Drawer content scroll</span>
                            <mat-icon class="ml-6 mr-0 icon-size-18" *ngIf="scrollMode === 'drawer-content'"
                                [svgIcon]="'check'"></mat-icon>
                        </button>
                        <button mat-menu-item (click)="scrollMode = 'inner'">
                            <span>Inner scroll</span>
                            <mat-icon class="ml-6 mr-0 icon-size-18" *ngIf="scrollMode === 'inner'" [svgIcon]="'check'">
                            </mat-icon>
                        </button>
                    </mat-menu>
                </div>
            </div>
            <div class="main">
                <router-outlet>
                    <button mat-button (click)="updateProduct()">Update product</button>
                    <button mat-button (click)="invokeLambda()">Invoke lambda</button>
                </router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>