<div class="content-layout fullwidth-basic-normal-scroll">

    <treo-card class="auth-card fullscreen">

        <!-- Form container -->
        <div class="form-container">

            <div class="form">

                <!-- Logo -->
                <div class="logo">
                    <img src="assets/images/logo/logo.png">
                </div>

                <!-- Title -->
                <div class="title">Sign in</div>
                <div class="subtitle">
                    <span>Don't have an account?</span>
                    <a class="link"
                       [routerLink]="['/sign-up']">Sign up</a>
                </div>

                <!-- Message -->
                <treo-message *ngIf="message"
                             [appearance]="message.appearance"
                             [showIcon]="message.showIcon"
                             [type]="message.type"
                             [@shake]="message.shake">
                    {{message.content}}
                </treo-message>

                <!-- Sign in form -->
                <form [formGroup]="signInForm">

                    <!-- Email field -->
                    <mat-form-field>
                        <mat-label>Email address</mat-label>
                        <input id="email"
                               matInput
                               [formControlName]="'email'">
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input id="password"
                               matInput
                               type="password"
                               [formControlName]="'password'"
                               #passwordField>
                        <button mat-icon-button
                                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                tabindex="-1"
                                matSuffix>
                            <mat-icon *ngIf="passwordField.type === 'password'"
                                      [svgIcon]="'visibility'"></mat-icon>
                            <mat-icon *ngIf="passwordField.type === 'text'"
                                      [svgIcon]="'visibility_off'"></mat-icon>
                        </button>
                    </mat-form-field>

                    <!-- Field footer -->
                    <div class="field-footer">
                        <div class="remember-me">
                            <mat-checkbox [color]="'primary'"
                                          [formControlName]="'rememberMe'">
                                Remember me
                            </mat-checkbox>
                        </div>
                        <a class="link"
                           [routerLink]="['/forgot-password']">Forgot password?</a>
                    </div>

                    <!-- Submit button -->
                    <button class="submit-button treo-mat-button-large"
                            mat-flat-button
                            type="button"
                            [color]="'primary'"
                            [disabled]="signInForm.disabled"
                            (click)="signIn()">
                        <span *ngIf="!signInForm.disabled">
                            Sign in
                        </span>
                        <mat-progress-spinner *ngIf="signInForm.disabled"
                                              [diameter]="24"
                                              [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>

                    <!-- Single sign-on -->
                    <div class="sso">
                        <div class="separator">
                            Or continue with
                        </div>
                        <div class="buttons">
                            <button class="sso-button"
                                    mat-stroked-button>
                                <mat-icon [svgIcon]="'feather:facebook'"></mat-icon>
                            </button>
                            <button class="sso-button"
                                    mat-stroked-button>
                                <mat-icon [svgIcon]="'feather:twitter'"></mat-icon>
                            </button>
                            <button class="sso-button"
                                    mat-stroked-button>
                                <mat-icon [svgIcon]="'feather:github'"></mat-icon>
                            </button>
                        </div>
                    </div>

                </form>

            </div>

        </div>

        <!-- Content container -->
        <div class="content-container">

            <!-- Background - Inline SVG for easy customizations -->
            <svg class="background"
                 viewBox="0 0 1531 891"
                 preserveAspectRatio="xMidYMax slice"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 182c144.327 47.973 534.462 219.712 440.509 369.87C346.555 702.028 79.877 662.846 0 638V182z"></path>
                <path d="M1405 848c-424.366 158.009-437-164-437-272s102-425 563-576v769c-21.333 29.333-63.333 55.667-126 79z"></path>
                <path d="M1531 162c-122.914-17.284-377.96 33.191-543.433 206.414C822.095 541.636 797.342 648.75 835.842 731.622c38.5 82.871 198.243 134.841 400.555 92.053C1438.71 780.886 1492.752 775.894 1531 768V162z"></path>
            </svg>

            <div class="content">
                <div class="title">
                    <span>Well-crafted,</span>
                    <span>Coded with attention,</span>
                    <span>Build with passion.</span>
                </div>
                <div class="description">
                    Treo helps developers to build organized and well-coded admin dashboards full of beautiful and feature rich modules.
                </div>
                <button class="learn-more-button"
                        mat-stroked-button>
                    Learn more
                </button>
            </div>

        </div>

    </treo-card>

</div>
