<div class="content-layout fullwidth-basic-normal-scroll">

    <!-- Background - Inline SVG for easy customizations -->
    <svg class="background" viewBox="0 0 1531 891" preserveAspectRatio="xMidYMax slice"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M0 182c144.327 47.973 534.462 219.712 440.509 369.87C346.555 702.028 79.877 662.846 0 638V182z"></path>
        <path d="M1405 848c-424.366 158.009-437-164-437-272s102-425 563-576v769c-21.333 29.333-63.333 55.667-126 79z">
        </path>
        <path
            d="M1531 162c-122.914-17.284-377.96 33.191-543.433 206.414C822.095 541.636 797.342 648.75 835.842 731.622c38.5 82.871 198.243 134.841 400.555 92.053C1438.71 780.886 1492.752 775.894 1531 768V162z">
        </path>
    </svg>

    <!-- Main -->
    <div class="main">

        <!-- Header -->
        <div class="header">

            <h1>Welcome! How can we help you today?</h1>

            <div class="search">
                <mat-form-field class="treo-mat-no-subscript treo-mat-rounded">
                    <input matInput [placeholder]="'Enter a question, topic or keyword'">
                    <mat-icon matPrefix [svgIcon]="'search'"></mat-icon>
                </mat-form-field>
            </div>

            <h5>... or choose a category to quickly find the help you need</h5>

            <div class="categories">

                <a class="category" [routerLink]="['faqs']">
                    <mat-icon [svgIcon]="'feather:file-text'"></mat-icon>
                    <span class="title">FAQs</span>
                    <span class="subtitle">Frequently asked questions and answers</span>
                </a>

                <a class="category" [routerLink]="['guides']">
                    <mat-icon [svgIcon]="'feather:book'"></mat-icon>
                    <span class="title">Guides</span>
                    <span class="subtitle">Articles and resources to guide you</span>
                </a>

                <a class="category" [routerLink]="['support']">
                    <mat-icon [svgIcon]="'feather:life-buoy'"></mat-icon>
                    <span class="title">Support</span>
                    <span class="subtitle">Contact us for more detailed support</span>
                </a>

            </div>

        </div>

        <div class="faqs">
            <h2>Most frequently asked questions</h2>
            <h6>Here are the most frequently asked questions you may check before getting started</h6>

            <mat-accordion>
                <mat-expansion-panel *ngFor="let faq of faqCategory">
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title>{{faq.question}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    {{faq.answer}}
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>

AI Hub offers a collection of assets for developers and data scientists building artificial intelligence (AI) systems. Train your machine learning (ML) model in a notebook or deploy it to a managed service. Find and deploy ML pipelines. Explore and reuse TensorFlow modules. Discover the best solution for serving and managing your trained model. Learn from indepth tutorials and examples.

schedule
Quickstarts
Learn in 5 minutes

description
How-to guides
Learn a task

class
Concepts
Develop a deep understanding of AI Hub

assignment
Samples and tutorials
Walkthroughs of common applications

library_books
Resources
Pricing, quotas, release notes, and other resources