<div class="flex flex-col overflow-hidden">
    <p class="text-lg font-medium">Basic information</p>
    <p class="text-secondary mb-6">
        Set your login preferences, help us personalize your experience and make big account changes here
    </p> 
    <div class="flex">
        <mat-form-field class="flex-auto">
            <input matInput
                   [placeholder]="'Email Address'">
            <mat-icon matPrefix
                      [svgIcon]="'mail'"></mat-icon>
        </mat-form-field>
    </div>
    <div class="flex flex-col gt-xs:flex-row">
        <mat-form-field class="flex-auto gt-xs:pr-3">
            <mat-select [placeholder]="'Country / Region'">
                <mat-option value="country-1">Country 1</mat-option>
                <mat-option value="country-2">Country 2</mat-option>
                <mat-option value="country-3">Country 3</mat-option>
            </mat-select>
            <mat-icon matPrefix
                      [svgIcon]="'room'"></mat-icon>
        </mat-form-field>
        <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-select [placeholder]="'Language'">
                <mat-option value="language-1">Language 1</mat-option>
                <mat-option value="language-2">Language 2</mat-option>
                <mat-option value="language-3">Language 3</mat-option>
            </mat-select>
            <mat-icon matPrefix
                      [svgIcon]="'language'"></mat-icon>
        </mat-form-field>
    </div>

    <mat-divider class="mt-6 mb-10"></mat-divider>

    <p class="text-lg font-medium">Profile</p>
    <p class="text-secondary mb-6">
        People here will get to know you with this information
    </p>
    <div class="flex flex-col gt-xs:flex-row">
        <mat-form-field class="flex-auto gt-xs:pr-3">
            <input matInput
                   [placeholder]="'First name'">
            <mat-icon matPrefix
                      [svgIcon]="'account_circle'"></mat-icon>
        </mat-form-field>
        <mat-form-field class="flex-auto gt-xs:pl-3">
            <input matInput
                   [placeholder]="'Last name'">
            <mat-icon matPrefix
                      [svgIcon]="'account_circle'"></mat-icon>
        </mat-form-field>
    </div>
    <div class="flex">
        <mat-form-field class="flex-auto">
            <input matInput
                   [placeholder]="'Username'">
            <span matPrefix>www.example.com/</span>
        </mat-form-field>
    </div>
    <div class="flex">
        <mat-form-field class="treo-mat-textarea flex-auto">
            <textarea matInput
                      [placeholder]="'About'"
                      [rows]="3"></textarea>
            <mat-icon matPrefix
                      [svgIcon]="'notes'"></mat-icon>
        </mat-form-field>
    </div>

    <mat-divider class="mt-6 mb-10"></mat-divider>

    <p class="text-lg font-medium">Notifications</p>
    <p class="text-secondary mb-6">
        We'll always let you know about important changes, but you pick what else you want to hear about.
    </p>
    <div class="flex flex-col gt-sm:flex-row">
        <div class="flex flex-col">
            <span class="font-semibold mb-2">By Email</span>
            <div class="flex flex-col">
                <mat-checkbox class="mb-2"
                              [checked]="true"
                              [color]="'primary'">
                    Company News
                </mat-checkbox>
                <mat-checkbox class="mb-2"
                              [color]="'primary'">
                    Featured Products
                </mat-checkbox>
                <mat-checkbox [checked]="true"
                              [color]="'primary'">
                    Messages
                </mat-checkbox>
            </div>
        </div>
        <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
            <span class="font-semibold mb-2">Push Notifications</span>
            <mat-radio-group class="flex flex-col"
                             [color]="'primary'"
                             [value]="'just-good'">
                <mat-radio-button class="mb-2"
                                  [value]="'everything'">
                    Everything
                </mat-radio-button>
                <mat-radio-button class="mb-2"
                                  [value]="'just-good'">
                    Just the good stuff
                </mat-radio-button>
                <mat-radio-button [value]="'no-push'">
                    No push notifications
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5">
        <button mat-button>
            Cancel
        </button>
        <button class="px-6 ml-3"
                mat-flat-button
                [color]="'primary'">
            Save
        </button>
    </div>
</div>