@import 'treo';

@include treo-theme {
	$background: map-get($theme, background);
	$foreground: map-get($theme, foreground);
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);
	$is-dark: map-get($theme, is-dark);
}

solution-creation {
	.main {
		display: flex;
		flex-direction: row;

		form {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;

			.actions {
				margin-top: 32px;

				@include treo-breakpoint('lt-md') {
					flex-direction: column;
					align-items: flex-end;
					margin-top: 16px;
				}

				.buttons {
					button {
						&.save-button {
							margin-right: 16px;

							@include treo-breakpoint('xs') {
								span {
									display: none;
								}
							}
						}

						.mat-icon {
							@include treo-icon-size(20);
							margin-right: 8px;

							@include treo-breakpoint('xs') {
								margin-right: 0;
							}
						}
					}
				}
			}
		}

		.helper {
			width: 30%;
		}
	}
}
